@model IEnumerable<DoAnAsp.Areas.Admin.Models.HoaDonModel>

@{
    ViewData["Title"] = "Index";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a asp-action="Create" style="background-color:aqua; color:black; font-size:20px; margin-top: -10px;"><b>Add hóa đơn</b></a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Ngày lập hóa đơn</th>
                                <th>Thành tiền</th>
                                <th>Tên khách hàng</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgaylapHD)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Thanhtien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUser)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Diachi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sdt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trangthai)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdHD" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.IdHD" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
