@model IEnumerable<DoAnAsp.Areas.Admin.Views.AdminModel>

@{
    ViewData["Title"] = "Index";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                        <div class="header-top-menu tabl-d-n hd-search-rp">
                            <div class="breadcome-heading">
                                <form role="search" class="">
                                    <input type="text" placeholder="Search..." class="form-control">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="add-product">
                        <a onclick="showModal('@Url.Action("Create","AdminModels",null,Context.Request.Scheme)','Thêm tài khoản Admin')" style="background-color:aqua; color:black; font-size:20px; margin-top: -10px;"><b>Add Tài Khoản Admin</b></a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Họ tên</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hoten)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sdt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <a onclick="showModal('@Url.Action("Edit","AdminModels",new {id=$"{item.IdAdmin}"},Context.Request.Scheme)','Cập nhật danh sách Admin')" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a onclick="showModal('@Url.Action("Delete","AdminModels",new {id=$"{item.IdAdmin}"},Context.Request.Scheme)','Xóa Admin')" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                                 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    