@model IEnumerable<DoAnAsp.Areas.Admin.Models.SanPhamModel>

@{
    ViewData["Title"] = "Index";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a asp-action="Create">Add User</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th>Đơn vị tính</th>
                                <th>Số lượng tồn kho</th>
                                <th>Nhà cung cấp</th>
                                <th>Loại sản phẩm</th>
                                <th>Mô tả</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSP)
                                    </td>
                                    <td>
                                        <img src="~/template/admin/img/@Html.DisplayFor(modelItem => item.Anh)" alt="Anh" />
                                        
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Donvitinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Soluongton)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdNCC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdLSP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mota)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Trangthai)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdSP" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.IdSP" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
